* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}

/* HEADER */
.header {
    display: flex;   
    justify-content: space-around;
    padding: 15px 0px;
}

.header-ul {
    display: flex;
}

.header-li {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 10px;
}

.header-logo {
    width: 70px;
    height: auto;
}

.h-list-container {
    display: flex;
    align-items: center;
}

/* BLACK SECTION */

.black-s-c {
    background-color: #1c1c1c;
    height: 110px;
    display: flex;
    align-items: center;
}

.b-s-h2 {
    color: white;
}