* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.c-white {
    color: white;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}

.header-ul {
    display: flex;
}

.header-li {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 10px;
}

.header-logo {
    width: 70px;
    height: auto;
}

.h-list-container {
    display: flex;
    align-items: center;
}

/* BLACK SECTION */

.black-s-c {
    background-image: url("./img/jumbotron.jpg");
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}


.figcaption-size {
    font-size: 13px;
}



/* BLUE SECTION */

.blue-section {
    background-color: #0282f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}

.b-s-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.figure-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.img-card {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

/* CARD SECTION*/

.card-section-img {
    width: 200px;
    height: auto;
}